@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MONSTER OF FANTASY";
  src: url("./assets/fonts/monster-of-fantasy.otf") format("opentype");
}

body {
  background: url("~/assets/images/backgrounds/map-bg.png") center top / contain
    no-repeat;
  background-color: white;
}

.footer-main {
  min-height: 100vh;
  background: url("~/assets/images/backgrounds/bg-footer.jpg") center bottom /
    contain no-repeat;
  background-color: white;
}

.border-gradient {
  border-image-slice: 25;
  border-width: 2px;
}

.border-gradient-gold {
  border-image-source: linear-gradient(
    to left,
    #eeda74,
    #fbbd3f,
    #f3cd7f,
    #eeda74
  );
}
